
Magic8Ball.xcodeproj/xcuserdata/cneale.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Magic8Ball.xcodeproj/project.xcworkspace/xcuserdata/cneale.xcuserdatad/WorkspaceSettings.xcsettings

Magic8Ball.xcodeproj/project.xcworkspace/xcuserdata/cneale.xcuserdatad/UserInterfaceState.xcuserstate
